html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(/portfolio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: aqua;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 30px 50px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: aqua;
  transition: 0.5s;
}
.btn {
  color: white;
  background-color: red;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.btn:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.content {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
}
h1 {
  color: wheat;
  margin: 20px 0px 20px;
  font-size: 65px;
}
h3 {
  color: white;
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
}
h4 {
  color: white;
  margin: auto;
  font-size: 18px;
}
.newslatter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child {
  display: inline-block;
  padding: 14px 230px 14px;
  border: 2p solid;
  outline: none;
  border-radius: 30px;
}
.submitbutton {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 14px 20px;
  border-radius: 30px;
  background-color: red;
  top: 2px;
  right: -223px;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.submitbutton:hover {
  transform: scale(1.2);
  transition: 0.5s;
  background-color: red;
}
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}
.about img {
  height: auto;
  width: 430px;
  border-radius: 30px;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2 {
  color: wheat;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 30px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  background-color: red;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.5s;
}
button:hover {
  background-color: transparent;
  border: 2px solid;
  cursor: pointer;
}
.service {
  background: #101010;
  width: 100%;
  padding: 100px 0px;
}
.title h2 {
  color: wheat;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: white;
}
h5 {
  color: cyan;
  font-size: 20px;
  margin-bottom: 15px;
}
.pra p {
  color: white;
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button {
  background-color: red;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 15px;
  border-radius: 30px;
  transition: 0.5s;
}
.card .button:hover {
  background-color: transparent;
  border: 2px solid;
  cursor: pointer;
}
.contact-me {
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-me p {
  color: wheat;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
.contact-me .button-two {
  background-color: red;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 15px;
  border-radius: 30px;
  transition: 0.5s;
}
.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid;
  cursor: pointer;
}
footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: wheat;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social {
  display: flex;
}
.social a {
  font-size: 40px;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.2s;
}
.end {
  position: absolute;
  color: #f9004d;
  bottom: 35px;
}
.goodgame {
  color: white;
  margin-bottom: 50px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  body {
    display: none;
  }
}


